h1  {
    font-family: Poppins;
    color: #ffffff;
    text-align: center;
    font-size: 3rem;  
    margin-top: 2rem;      
    }
h2   {
    text-align: center;
    font-family: Poppins;
}

p   {
    text-align: center;
    font-family: Poppins;
}

div   {
  text-align: center;
  font-family: Poppins;
}

html, body {
  height: 100%;
  margin: 0;
}


body {
    color: #ffffff;
    text-align: center;
    animation: changeColors 4s infinite;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    }  


@keyframes changeColors {
        0% {
          background: linear-gradient(45deg, #b876fe, #EA4C89);
        }
        50% {
          background: linear-gradient(45deg, #4c9eea, #EA4C89);
        }
        100% {
          background: linear-gradient(45deg, #fea676, #EA4C89);
        }
      }
      
      


button {
    margin-left: auto;
    margin-right: auto;
    font-family: Poppins;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #EA4C89;
    background-color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }

button:hover {
    box-shadow: 0 0 10px 0 #EA4C89 inset, 0 0 20px 2px #EA4C89;
    }

label {
        font-family: Poppins;
        }
